@import url("https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans: 500,700&display=swap");
.title__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  color: #656d72;
  font-size: 12px;
  font-weight: 500;
  line-height: 2; /* 200% */
  letter-spacing: 7.5px;
  padding-left: 35px;
  text-transform: uppercase;
}

.title__label::before {
  content: "";
  width: 16px;
  height: 2px;
  background-color: #d9d9d9;
}

.title__label:not(:last-child) {
  margin-bottom: 9px;
}

.title__value {
  font-family: Plus Jakarta Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
}
.title__value span {
  color: #7e74f1;
}

.title__value_big {
  font-size: 44px;
  font-weight: 700;
  line-height: normal;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 2; /* 200% */
}

.text p:not(:last-child) {
  margin-bottom: 15px;
}

.fullscreen {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media (max-width: 1199.98px) {
  [class*=__container] {
    max-width: calc(970px + 229.98 * (100vw - 320px) / 880);
  }
}
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
    max-width: calc(750px + 241.98 * (100vw - 320px) / 880);
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
    padding: 0px 15px;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: Inter;
  color: #232e35;
}

body._lock {
  overflow: hidden;
}

button {
  background-color: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.75);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  min-height: 104px;
}

@media (max-width: 767.98px) {
  .header__container {
    min-height: 60px;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
}

@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    -webkit-transition: left 300ms ease 0ms;
    transition: left 300ms ease 0ms;
    overflow: auto;
    background-color: #7e74f1;
    padding: 90px 15px 30px 15px;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    -webkit-transition: left 300ms ease 0ms;
    transition: left 300ms ease 0ms;
    height: 60px;
    background-color: rgb(157, 150, 237);
    z-index: 2;
  }
  .menu__body._menu-open {
    left: 0;
  }
  .menu__body._menu-open::before {
    left: 0;
  }
}
@media (min-width: 767.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu__item:not(:last-child) {
    margin-right: calc(25px + 31 * (100vw - 320px) / 880);
  }
}
.menu__item {
  text-align: center;
}

@media (max-width: 767.98px) {
  .menu__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.menu__link {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  -webkit-transition: color 300ms ease 0ms;
  transition: color 300ms ease 0ms;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #7e74f1;
  }
}
@media (max-width: 767.98px) {
  .menu__link {
    color: #fff;
    font-size: 32px;
  }
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.header__button {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  border-radius: 8px;
  border: 1px solid #f1f1f1;
  -webkit-transition: background-color 300ms ease 0ms;
  transition: background-color 300ms ease 0ms;
}

.header__button:hover {
  background-color: rgba(126, 116, 241, 0.2);
}

@media (max-width: 767.98px) {
  .header__button {
    padding: 10px 15px;
    color: #fff;
    border: 1px solid #232e35;
    background-color: #232e35;
  }
}
.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    z-index: 5;
  }
}
@media (max-width: 767.98px) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}
@media (max-width: 767.98px) {
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    -webkit-transition: all 300ms ease 0ms;
    transition: all 300ms ease 0ms;
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .icon-menu._menu-open span {
    width: 0;
  }
  .icon-menu._menu-open::before {
    top: calc(50% - 1px);
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .icon-menu._menu-open::after {
    bottom: calc(50% - 1px);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.hero__container {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
  padding-bottom: 30px;
  min-height: 100%;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 767.98px) {
  .hero__container {
    grid-template-columns: 1fr;
    row-gap: 25px;
  }
}
.title:not(:last-child) {
  margin-bottom: calc(16px + 16 * (100vw - 320px) / 880);
}

.text:not(:last-child) {
  margin-bottom: calc(20px + 20 * (100vw - 320px) / 880);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 5px;
  -webkit-column-gap: calc(25px + 9 * (100vw - 320px) / 880);
     -moz-column-gap: calc(25px + 9 * (100vw - 320px) / 880);
          column-gap: calc(25px + 9 * (100vw - 320px) / 880);
}

.social__link {
  -webkit-transition: fill 300ms ease 0ms;
  transition: fill 300ms ease 0ms;
}

.social__link:hover {
  fill: #7e74f1;
}

.hero__decor {
  justify-self: end;
  max-width: 336px;
  width: 100%;
  margin: 0 25px;
}

@media (max-width: 767.98px) {
  .hero__decor {
    justify-self: center;
  }
}
.decor-hero__image {
  position: relative;
  padding-bottom: 119%;
}

.decor-hero__image::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #7e74f1;
  border-radius: 16px;
  -webkit-transform: rotate(-9.545deg);
          transform: rotate(-9.545deg);
}

.decor-hero__picture {
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  border-radius: 16px;
}/*# sourceMappingURL=main.css.map */