$maxWidth: 1200;
$maxWidthContainer: 1170;

//padding: calc(20px + (50 - 20) * ((100vw - 320px) / (1200 - 320))) - Формула

@mixin adaptive-value($property, $startSize, $minSize, $type, $alpha) {
  $addSize: $startSize - $minSize;
  @if ($type==1) {
    //Только если меньше контейнера
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} *
          ((100vw - 320px) / #{$maxWidthContainer - 320})
      );
    }
  } @else if ($type==2) {
    //Только если больше контейнера
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} *
          ((100vw - 320px) / #{$maxWidthContainer - 320})
      );
    }
  } @else {
    #{$property}: calc(
      #{$minSize +
        px} +
        #{$addSize} *
        ((100vw - 320px) / #{$maxWidthContainer - 320})
    );
  }
}