*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: Inter;
  color: #232e35;
}

body._lock {
  overflow: hidden;
}

button {
  background-color: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

[class*='-ibg'] {
  position: relative;
}

[class*='-ibg'] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

// .item-portfolio-image-ibg{
//   position: relative;
// }

// .item-portfolio-image-ibg img {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   object-fit: cover;
// }
